BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
NamespaceIndentation: All

BreakBeforeBraces: Attach

ColumnLimit: 120
AllowShortLoopsOnASingleLine: Yes
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
# PenaltyReturnTypeOnItsOwnLine: 100               # Encourage `auto` on one line

# AlignConsecutiveAssignments: Consecutive
# AlignConsecutiveDeclarations: Consecutive
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve    # Preserve user‑grouped blank lines
IncludeCategories:         # Groups: std / other‑libs / project
  - Regex:           '^<ivl.*>$'
    Priority:        1
  - Regex:           '^.*$'
    Priority:        2

DerivePointerAlignment: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeCpp11BracedList: false
# RequireBracedInitializerList: false
Cpp11BracedListStyle: true
BreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
# -------------------------------------------
