BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
NamespaceIndentation: Inner

BreakBeforeBraces: Attach

ColumnLimit: 120
AllowShortLoopsOnASingleLine: Yes
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<ivl.*>$'
    Priority:        1
  - Regex:           '^<.*/.*>$'
    Priority:        2
  - Regex:           '^.*$'
    Priority:        3

DerivePointerAlignment: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeCpp11BracedList: false
# RequireBracedInitializerList: false
Cpp11BracedListStyle: true
BreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
# -------------------------------------------
