[submodule "src/spoj"]
	path = src/spoj
	url = git@github.com:ilazaric/spoj.git
[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = git@github.com:ilazaric/llvm-project.git
	branch = ivl_heterogenous_return_functions
[submodule "submodules/gcc"]
	path = submodules/gcc
	url = git://gcc.gnu.org/git/gcc.git
	branch = master
[submodule "submodules/emsdk"]
	path = submodules/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = main
[submodule "submodules/linux"]
	path = submodules/linux
	url = git@github.com:torvalds/linux.git
