# /etc/systemd/system/mydaemon.socket
[Unit]
Description=Socket for My Network Daemon

[Socket]
ListenStream=0.0.0.0:12345
Accept=yes
MaxConnections=1

[Install]
WantedBy=sockets.target
