name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: install apt packages
      run: sudo apt update && sudo apt install g++-14 nlohmann-json3-dev
    - name: build
      run: CXX=g++-14 ./build.py /build_system /linux
