name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install g++-14
      run: sudo apt update && sudo apt install g++-14
    - name: build
      run: CXX=g++-14 ./build.py /build_system
